# this has been moved to .bash_profile
# # path
PATH="$PATH:/home/anupam/.local/bin"
PATH="$PATH:/home/anupam/go/bin"
PATH="$PATH:/home/anupam/scripts"
export PATH

# # college proxy
# proxy_var="http://edcguest:edcguest@172.31.102.29:3128/"
proxy_var="http://edcguest:edcguest@172.31.100.27:3128/"
export http_proxy=$proxy_var
export no_proxy="localhost,131.0.0.1,192.168.1.1,::1,*.local,127.0.0.1"
export HTTP_PROXY=$proxy_var
export NO_PROXY=$no_proxy
export https_proxy=$proxy_var
export HTTPS_PROXY=$proxy_var

# # for weston wayland
export LD_LIBRARY_PATH=/usr/local/lib/
#
# # for qt
# export QT_QPA_PLATFORMTHEME=qt5ct
# # export QT_STYLE_OVERRIDE=gtk2

# home dual monitor setup
# /home/anupam/.screenlayout/home.sh

/home/anupam/scripts/keyboard-setup.sh
